#courses{
    padding: 100px 0;
    img{
        width: 100%;
    }
}

.course-row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.course-right-col{
    flex-basis: 50%;
   
}
.course-left-col{
    flex-basis: 50%;
}

.course-text{
    max-width: 350px;
    button{
        margin: 30px 0;
    }
}