#footer{
 padding: 50px 0 30px;   
}
hr{
    width: 100%;
    border: 0;
    border-top: 1px solid $primary;
}
.footer-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}
.footer-left-col{
    flex-basis: 50%;
    margin-top: 60px;
}
.footer-right-col{
    flex-basis: 35%;
}

.footer-links{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.link-title{
    h4{
        color: $primary;
    }
    small{
        font-size: 13px;
        color: $secondary;
    }
}

.footer-info{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-logo{
    img{
        width: 50px;
        margin-top: 30px;
    }
    button{
        padding: 12px 38px;
        margin-top: 20px;
        font-size: 10px;
    }
}
.copyright-text,.footer-logo{
    flex-basis: 50%;
    align-items:flex-end;

}

.heart{
    color: red;
    font-size: 14px;
}