
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

$primary: #111148;
$secondary: #777;
$white: #fff;

@mixin line($height, $width) {
    width: $height;
    height:$width;
    background: $primary;
    display: inline-block;
}

#header{
    height: 100vh;
    background: url(../images/background.png);
    background-position: center;
    background-size: cover;
}
.container{
    margin: 0 100px;
    h1{
        font-size: 34px;
    }
}

.logo{
    margin-top: 30px;
    width: 100px;
}

.header-text {
    max-width: 400px;
    margin-top: 100px;
    p{
        font-size: 15px;
        line-height: 18px;
        color: $secondary;
    }
    button{
        margin-top: 20px;
        margin-bottom: 60px;
    }
}
.square{
    height: 12px;
    width: 12px;
    display: inline-block;
    background:$primary ;
    margin: 15px 0;
}
.common-btn{
    padding: 18px 40px;
    background: transparent;
    outline: none;
    border: 2px solid $primary;
    font-weight: bold;
    cursor: pointer;
}
.line{
    line-height: 8px;
}

.line-1{
   @include line(15px,15px);
}
.line-2{
    @include line(80px,1px);

}
.line-3{
    @include line(60px,1px);

}


#sideNav{
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -250px;
    background: $primary;
    z-index: 2;
    transition: 0.5s;
}

nav{
    ul{
        li{
            list-style: none;
            margin: 50px 20px;
            a{
                text-decoration: none;
                color: $white;
            }
        }
    }
}

#menu-btn{
    width: 50px;
    position: fixed;
    right: 65px;
    top: 35px;
    z-index: 2;
    cursor: pointer;
}

@import './about';
@import './features';
@import './courses';
@import './contact';
@import './form';
@import './footer';
@import './social';
@import './sponsers';
@import './mediaQuery';


